In [ ]:
num1=input("Enter an integer")
num2=input("Enter another integer")
print(num1,type(num1),id(num1))
print(num2,type(num2),id(num2))

Enter an integer150
Enter another integer23
150 <class 'str'> 140549060132528
23 <class 'str'> 140549047597424

In [ ]:
x=input("Enter a value")
y=input("Enter another value")
z=x+y
print("Result is ",z)

Enter a value12
Enter another value23
Result is  1223

In [ ]:
num1=int(input("Enter an integer"))
num2=int(input("Enter another integer"))
print(num1,type(num1),id(num1))
print(num2,type(num2),id(num2))
total=num1+num2
print("so",num1," + ",num2," = ",total)

Enter an integer12
Enter another integer23
12 <class 'int'> 139990778053200
23 <class 'int'> 139990778053552
so 12  +  23  =  35

In [ ]:
num1=12
num2=45
print("so  "+str(num1)+" + "+str(num2)+" = "+str(total))
print("So {}+ {}= {}".format(num1,num2,total))  #Place holder
print("So {0}+ {1}= {2}".format(num1,num2,total))#index place holder
print("So {a}+ {b}= {c}".format(a=num1,b=num2,c=total))
print("So {a}+ {b}= {c}".format(b=num2,c=total,a=num1))
print("So %8d + %8.2f =%d"%(num2,num1,total))
print("So %6d + %8.3f =%d"%(num2,num1,total))
print(f"so {num1}+{num2}={total}") # f means smart formatting

so  12 + 45 = 35
So 12+ 45= 35
So 12+ 45= 35
So 12+ 45= 35
So 12+ 45= 35
So       45 +    12.00 =35
So     45 +   12.000 =35
so 12+45=35

In [ ]:

s="Calcutta"
print(len(s),type(s),id(s))
'''0  1  2  3   4  5  6   7
   C  a  l  c   u  t  t   a
  -8 -7 -6 -5   -4 -3 -2 -1'''
print(s[3],s[-2],s[1:5])
print(s[2:10])
print(s[-4:])
print(s[:-4])
print(s[6::-3])

8 <class 'str'> 140529999615920
c t alcu
lcutta
utta
Calc
tcC

In [ ]:
x="KolKaTa UniVeRCity. Delhi"
print(x.upper())
print(x.lower())
print(x.swapcase())
print(x.capitalize())
print(x.title())

KOLKATA UNIVERCITY. DELHI
kolkata univercity. delhi
kOLkAtA uNIvErcITY. dELHI
Kolkata univercity. delhi
Kolkata Univercity. Delhi

In [ ]:
a="Charity beginsity at Home "
print(a.find("ity"))

4

NameError: ignored