In [1]:
#15.07.23
#Lambda function

In [2]:
#Calculate the square of a number
sq=lambda num:num*num
result=sq(4)
print(result)

16

In [3]:
#Calculate an area
area=lambda length,width:length*width
result=area(10,15)
print(result)

150

In [4]:
#Simple interset
ints=lambda principal,rate,time:(principal*rate*time)/100
s_interest=ints(15000,15.561,2)
print(s_interest)

4668.3

In [5]:
#Factorial by recursion using lambda function
myfact=lambda num1: 1 if(num1==0 or num1==1) else num1*myfact(num1-1)
n=int(input("Enter a number: "))
res=myfact(n)
print("Result is",res)

Enter a number: 5
Result is 120

In [7]:
def func10(num):
  myprod=lambda n:n*num
  return myprod

var10=func10(10)
print(var10)
var20=func10(20)
print(var10(3))
print(var10(4))
print(func10(30)(5))

<function func10.<locals>.<lambda> at 0x79bccd945cf0>
30
40
150

In [8]:
#Filter operation with lambda function
list1=[13,28,31,14,22,61]
list2=list(filter(lambda x:x%2==0,list1))
print(list2)

[28, 14, 22]