In [66]:
#count function returns the count of the item that we passed as an argument
li=[13,18,20,18,18,23]
print(li.count(18))

3

In [7]:
#reverse function reverses the item of the list.
li=[13,18,20,18,18,23]
print(li.reverse())
print(li)
l2=['q','e','e']
l2.reverse()
print(l2)

None
[23, 18, 18, 20, 18, 13]
['e', 'e', 'q']

In [10]:
#sort method sorts the items
li=[67,45,5,89,9]
li.sort()
print(li)
l2=['i','e','arm','u','o']
l2.sort()
print(l2)

[5, 9, 45, 67, 89]
['arm', 'e', 'i', 'o', 'u']

In [11]:
li=[67,45,5,89,9]
li.sort(reverse=True)
print(li)

[89, 67, 45, 9, 5]

In [13]:
#Tuples
t=()
t=(1,7)
print(t)

(1, 7)

In [17]:
#Making a tuple with a single element just add a comma
t=3,
print(t)

(3,)

In [18]:
#creati9ng tuple existing sequences
t1=tuple("hello")
print(t1)

('h', 'e', 'l', 'l', 'o')

In [20]:
#Create tuple from user
t1=tuple(input("Enter elements"))
print(t1)

Enter elements5676543
('5', '6', '7', '6', '5', '4', '3')

In [21]:
t1=tuple(input("Enter elements"))
print(t1)

Enter elementsRambabu
('R', 'a', 'm', 'b', 'a', 'b', 'u')

In [39]:
#Joining of two tuples
t1=(2,6,9)
t2=(90,5,67)
t3=t1+t2
print(t3)

(2, 6, 9, 90, 5, 67)

In [51]:
t1=(23,34)
print(t1*3)

(23, 34, 23, 34, 23, 34, 23, 34, 23, 34, 23, 34, 23, 34, 23, 34, 23, 34)

In [22]:
tuple=eval(input("Enter elements"))
print(tuple)

Enter elements10,12,"Ram",45.98
(10, 12, 'Ram', 45.98)

In [31]:
t1=(56,87,8,9,90)
sum=0
for a in t1:
  sum=sum+a
print("Sum= ",sum)

Sum=  250

In [32]:
t1=(2,3,4,6)
sum=0
for i in range(4):
  if(t1[i]%2==0):
    sum=sum+t1[i]

print(sum)

12

In [34]:
t1=(2,3,4,6)
sum=0
for a in t1:
  if(a%2==0):
    sum=sum+a
print(sum)

12

In [35]:
t1=(2,3,4,6)
sum=0
for i in range(4):
  if(i%2==0):
    sum=sum+t1[i]
print(sum)

6

In [36]:
li=[78,98,56,6,67,43,4]
print(li)
li[2]=121
print(li)

[78, 98, 56, 6, 67, 43, 4]
[78, 98, 121, 6, 67, 43, 4]

In [71]:
#Slicing of Tuples
#x=tup[start:stop]
tp1=(10,20,30,50,80,90,87,77,50)
tp2=tp1[::3]
print(tp2)

(10, 50, 87)

In [74]:
t=(12,23,34,45,89)  #Packing
w,x,y,z,a=t
print(w," ",x,"  ",y,"  ",z," ",a)  #Unpacking
print(len(t))
print(min(t))
print(t.index(23))

12   23    34    45   89
5
12
1

In [75]:
tup=(12,23,34,45,23,78,23,55)
for a in tup:
  print("Index of ",a,"is ",tup.index(a))

Index of  12 is  0
Index of  23 is  1
Index of  34 is  2
Index of  45 is  3
Index of  23 is  1
Index of  78 is  5
Index of  23 is  1
Index of  55 is  7

In [64]:
print(tup.count(23))

3